V1
V2
V3/application_test.csv
V3/application_test.csv474qta18tmp
V3/application_train.csv
V3/application_train.csvkcw6cjrrtmp
V3/HomeCredit_columns_description.csv
Sprint_03_NBA_API_Marcos_Herrera.zip
poetry.lock
pyproject.toml
Copy of AnyoneAI - Project 3.ipynb